.conteiner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 20px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 35px;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 115px;
    max-width: 1280px;
  }
}
