.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    padding: 0 35px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner {
    padding: 0 115px;
    max-width: 1280px;
  }
}

.relative {
  position: relative;
  bottom: 84px;
}

.contact {
  display: block;
  background-color: #fff5f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    background-image: url();
  }
}

.contact__none {
  display: none;
}

.contact__link {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 8px 8px 8px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 8px 8px rgba(212, 20, 67, 0.1);
  background-color: #ffffff;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .contact__link {
    position: relative;
    bottom: 78px;
    height: 544px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__link {
    position: relative;
    bottom: 102px;
    width: 330px;
    height: 572px;
  }
}

.contact__link:not(:last-child) {
  margin-bottom: 20px;
}

.contact__text {
  font-family: DM Sans;
  font-weight: 500;
  color: #907e82;
  margin-top: 10px;
}

.contact__team {
  color: #000000;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.contact__item {
  color: #ffa5ba;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22px;
}

.contact__list {
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.contact__listy {
  width: 130px;
  height: 16px;
  background-color: #c2e297;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.contact__title {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1280px) {
  .contact__title {
    padding-top: 51px;
    padding-bottom: 51px;
    padding-left: 43px;
    padding-right: 43px;
    height: 572px;
  }
}

.week {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .week {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .week {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.week__team {
  color: #000000;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;
}

.week__item {
  color: #ffa5ba;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.week__item:not(:last-child) {
  margin-bottom: 10px;
}

li {
  list-style: none;
}

.footer {
  background-color: #fff5f6;
}

.footer-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-button__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-button__list {
    margin: 10px;
  }
}

.footer-button__disable {
  width: 161px;
  height: 44px;
  background-color: #d41342;
  color: #ffffff;
  border-radius: 22px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.footer-button__active {
  width: 161px;
  height: 44px;
  background-color: #ffffff;
  color: #d41342;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.footer-link {
  margin-top: 100px;
}

@media screen and (min-width: 768px) {
  .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-footer__item {
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffa5ba;
  width: 232px;
}

.site-footer__team {
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #d41443;
  width: 200px;
}

.social-footer {
  text-align: right;
  margin-top: 43px;
  margin-left: 20px;
}

.social-footer__title {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.social-footer__tell {
  color: #d41443;
  cursor: pointer;
}

.footer-made {
  border-top: 1px solid #E1E1E1;
  margin-top: 43px;
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
  display: block;
}

.footer-made__text {
  color: #907e82;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */