@import './utils/variables';
@import './utils/breakpoints';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/visually-hidden';
@import './base/common';
@import './base/container';
@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantage';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';
