// Section

%section {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

//  Link

%link {
  text-decoration: none;
}

// List

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
