// Fonts
$main-font: DM Sans, sans-serif;
$accent-font: Titan One;

// Colors
$pink-color: #ffb8ca;
$red-color: #d41443;
$white-color: #ffffff;
$list-color: #ffa5ba;
$sun-color: #f0d1a5;
$green-color: #c2e297;
$section-bg-color: #fff5f6;
$reviews-bg-color: #fafafa;
$text-color: #907e82;
$black-color: #000000;
$ellipse-color: #c7133e;
$btn-color: #d41342;
$btn-hover-color: #ecebeb;
$social-color: #fea5bb;
$modal-color: #e17992;
$border-color: #e18298;
$line-color: #e1e1e1;
$dots-color: #d9d9d9;
$slider-home-icon: #d31342;
