<section class="contacty" id="contacts">
  <div class="container">
    <h2 class="contact__none">CONTACTS</h2>
    <ul class="contact">
      <li class="contact__link relative">
        <div class="contact__title">
          <p class="contact__list">CAFE</p>
          <p class="contact__team">Chicago</p>
          <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="week">
            <p class="week__team">Monday - Friday</p>
            <p class="week__item">06:00 AM - 10:00 PM</p>
            <p class="week__team">Saturday - Sunday</p>
            <p class="week__item">08:00 AM - 16:00 PM</p>
          </div>
          <p class="contact__text">+61(0) 383 766 284 noreply@envato.com</p>
        </div>
      </li>
      <li class="contact__link relative">
        <div class="contact__title">
          <p class="contact__listy">FOODTRUCK</p>
          <p class="contact__team">Los Angeles</p>
          <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="week">
            <p class="week__team">Monday - Friday</p>
            <p class="week__item">06:00 AM - 10:00 PM</p>
            <p class="week__team">Saturday - Sunday</p>
            <p class="week__item">08:00 AM - 16:00 PM</p>
          </div>
          <p class="contact__text">+61(0) 383 766 284 noreply@envato.com</p>
        </div>
      </li>
      <li class="contact__link relative">
        <div class="contact__title">
          <p class="contact__list">CAFE</p>
          <p class="contact__team">New York</p>
          <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="week">
            <p class="week__team">Monday - Friday</p>
            <p class="week__item">06:00 AM - 10:00 PM</p>
            <p class="week__team">Saturday - Sunday</p>
            <p class="week__item">08:00 AM - 16:00 PM</p>
          </div>
          <p class="contact__text">+61(0) 383 766 284 noreply@envato.com</p>
        </div>
      </li>
    </ul>
  </div>
</section>
