<section class="footer-section">
  <div class="container footer">
    <div class="footer-link">
      <div class="site-footer">
        <ul class="site-footer__link">
          <li>
            <p class="site-footer__item">HOMEMADE ICE CREAM MADE</p>
          </li>
          <li>
            <p class="site-footer__team">WITH PASSION</p>
          </li>
        </ul>
      </div>

      <ul class="social-footer__item">
        <li class="social-footer__title">
          <ul class="social-footer__link">
            <li class="social-footer__team">
              <a class="social-footer__icon" href="https://github.com/" target="_blank">
                <svg class="social-footer__list" width="34px" height="34px">
                  <use href="../src/images/icons/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-footer__team">
              <a class="social-footer__icon" href="https://web.telegram.org/k/" target="_blank">
                <svg class="social-footer__list" width="34px" height="34px">
                  <use href="../src/images/icons/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-footer__team">
              <a class="social-footer__icon" href="https://uk-ua.facebook.com/" target="_blank">
                <svg class="social-footer__list" width="34px" height="34px">
                  <use href="../src/images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="social-footer__title">
          Feel free to contact
          <a href="tel:+610383766284" class="social-footer__tell">+61 (0) 383 766 284</a>
        </li>
      </ul>
    </div>
    <div class="footer-made">
      <p class="footer-made__text">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</section>
