
<section class="contacty">

     

    <div class="container footer">
        <div  class="footer-button">
            <ul class="footer-button__link">
                <li class="footer-button__list">
                    <button type="button" class="footer-button__disable">Our Locations</button>
                </li>
                <li class="footer-button__list">
                    <button type="button" class="footer-button__active">Franchise</button>
                </li>
            </ul>
        </div>
        <div class="footer-link">
        <div class="site-footer">
            <ul>
                <li>
                    <p class="site-footer__item">HOMEMADE ICE CREAM MADE</p>
                </li>
                <li>
                    <p class="site-footer__team">WITH PASSION</p>
                </li>
            </ul>
        </div>
        <div class="social-footer">
            <ul>
                <li class="social-footer__title">
                    <ul class="social-footer__link">
                        <li> <a href="#"><svg class="social-footer__list" width=34px height=34px> <use href="../src/images/icons/icons.svg#icon-github"></use></svg></a></li>
                        <li> <a href="#"><svg class="social-footer__list" width=34px height=34px> <use href="../src/images/icons/icons.svg#icon-telegram"></use></svg></a></li>
                        <li> <a href="#"><svg class="social-footer__list" width=34px height=34px> <use href="../src/images/icons/icons.svg#icon-facebook"></use></svg></a></li>
                    </ul>
                </li>
                <li  class="social-footer__title">Feel free to contact <a  href="+61 (0) 383 766 284" class="social-footer__tell">+61 (0) 383 766 284</a></li>
            </ul>
        </div>
    </div>
        <div class="footer-made">
        <p class="footer-made__text">© 2019 - IceCream. All Rights Reserved. </p>
        </div>
        </div>
    </section>
        

