<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="masonry-list">
      <li class="masonry-list__item">
        <ul class="masonry-list__inside-list">
          <li class="inside-list__item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/1@x1.webp 1x, ./images/gallery/1@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 1"
                width="40"
                height="40"
                srcset="./images/gallery/1@x1.png 1x, ./images/gallery/1@x2.png 2x"
                src="./images/gallery/1@x1.png"
              />
            </picture>
          </li>
        </ul>
      </li>
      <li class="masonry-list__item todown">
        <ul class="masonry-list__inside-list">
          <li class="inside-list__item inside-list__first-item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/2@x1.webp 1x, ./images/gallery/2@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 2"
                width="40"
                height="40"
                srcset="./images/gallery/2@x1.png 1x, ./images/gallery/2@x2.png 2x"
                src="./images/gallery/2@x1.png"
              />
            </picture>
          </li>
          <li class="inside-list__item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/3@x1.webp 1x, ./images/gallery/3@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 3"
                width="40"
                height="40"
                srcset="./images/gallery/3@x1.png 1x, ./images/gallery/3@x2.png 2x"
                src="./images/gallery/3@x1.png"
              />
            </picture>
          </li>
        </ul>
      </li>
      <li class="masonry-list__item">
        <ul class="masonry-list__inside-list">
          <li class="inside-list__item inside-list__first-item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/4@x1.webp 1x, ./images/gallery/4@x2.webp 2x"
              />
              <img
                class="masonry__photo masonry__photo--bigger"
                alt="image 4"
                width="40"
                height="40"
                srcset="./images/gallery/4@x1.png 1x, ./images/gallery/4@x2.png 2x"
                src="./images/gallery/4@x1.png"
              />
            </picture>
          </li>
          <li class="inside-list__item inside-list__item--left-positioned">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/5@x1.webp 1x, ./images/gallery/5@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 5"
                width="40"
                height="40"
                srcset="./images/gallery/5@x1.png 1x, ./images/gallery/5@x2.png 2x"
                src="./images/gallery/5@x1.png"
              />
            </picture>
          </li>
        </ul>
      </li>
      <li class="masonry-list__item todown__2">
        <ul class="masonry-list__inside-list">
          <li class="inside-list__item inside-list__first-item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/6@x1.webp 1x, ./images/gallery/6@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 6"
                width="40"
                height="40"
                srcset="./images/gallery/6@x1.png 1x, ./images/gallery/6@x2.png 2x"
                src="./images/gallery/6@x1.png"
              />
            </picture>
          </li>
          <li class="inside-list__item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/7@x1.webp 1x, ./images/gallery/7@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 7"
                width="40"
                height="40"
                srcset="./images/gallery/7@x1.png 1x, ./images/gallery/7@x2.png 2x"
                src="./images/gallery/7@x1.png"
              />
            </picture>
          </li>
        </ul>
      </li>
      <li class="masonry-list__item toup">
        <ul class="masonry-list__inside-list">
          <li class="inside-list__item inside-list__first-item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/8@x1.webp 1x, ./images/gallery/8@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 8"
                width="40"
                height="40"
                srcset="./images/gallery/8@x1.png 1x, ./images/gallery/8@x2.png 2x"
                src="./images/gallery/8@x1.png"
              />
            </picture>
          </li>
          <li class="inside-list__item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/9@x1.webp 1x, ./images/gallery/9@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 9"
                width="40"
                height="40"
                srcset="./images/gallery/9@x1.png 1x, ./images/gallery/9@x2.png 2x"
                src="./images/gallery/9@x1.png"
              />
            </picture>
          </li>
        </ul>
      </li>
      <li class="masonry-list__item">
        <ul class="masonry-list__inside-list">
          <li class="inside-list__item">
            <picture>
              <source
                type="image/webp"
                srcset="./images/gallery/10@x1.webp 1x, ./images/gallery/10@x2.webp 2x"
              />
              <img
                class="masonry__photo"
                alt="image 10"
                width="40"
                height="40"
                srcset="./images/gallery/10@x1.png 1x, ./images/gallery/10@x2.png 2x"
                src="./images/gallery/10@x1.png"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
