<section class="hero">
  <div class="container hero__container">
    <div class="hero-box">
      <div class="hero-box__content">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--accent">passion</span>
        </h1>
        <ul class="hero-buttons__list">
          <li class="hero-buttons__item">
            <a href="#products" class="btn-hero">Products</a>
          </li>
          <li class="hero-buttons__item">
            <a href="#process" class="btn-hero btn-hero--light">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="numbers">
        <ul class="numbers__list">
          <li class="numbers__item">
            <div class="numbers__content">
              <span class="numbers__text--number">16</span>
              <p class="numbers__text">cafes</p>
            </div>
          </li>
          <li class="numbers__item">
            <div class="numbers__content">
              <span class="numbers__text--number">23</span>
              <p class="numbers__text">food trucks</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__content">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="read-more-btn">
        <svg class="read-more-btn__icons">
          <use href="./images/icons/icons.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
