<section class="products" id="products">
  <div class="container">
    <div class="products-wrapper">
      <p class="products-label">100% natural</p>
      <h2 class="products-title">products</h2>
    </div>

    <ul class="products-cards">
      <li class="products-cards__list products-cards__icecream">
        <h3 class="products-cards__title">ice cream</h3>
        <p class="products-cards__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      <a href="#openModal-1">
          <button class="products-cards__button">
            <svg width="15" height="15">
              <use href="./images/icons/icons.svg#icon-right-arrow"></use>
            </svg>
          </button>
      </a>
      </li>

      <li class="products-cards__list products-cards__icecoffee">
        <h3 class="products-cards__title">ice coffee</h3>
        <p class="products-cards__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      <a href="#openModal-2">
          <button class="products-cards__button">
            <svg width="15" height="15">
              <use href="./images/icons/icons.svg#icon-right-arrow"></use>
            </svg>
          </button>
      </a>

      </li>
      <li class="products-cards__list products-cards__milkshakes">
        <h3 class="products-cards__title">milkshakes</h3>
        <p class="products-cards__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      <a href="#openModal-3">
          <button class="products-cards__button">
            <svg width="15" height="15">
              <use href="./images/icons/icons.svg#icon-right-arrow"></use>
            </svg>
          </button>
      </a>
      </li>
    </ul>
  </div>


<div id="openModal-1" class="modal__ice-cream">
  <div class="modal__container">
    <div class="ice-cream__content">
      <div class="modal-header">
        <h3 class="modal-header__title">ice cream</h3>
        <a href="#close" title="Close" class="modal-header__close">×</a>
      </div>
      <div class="modal__text">
        Взбитый, замороженный и потребляемый в замороженном виде сладкий молочный продукт, молочный составной продукт
        или
        молокосодержащий продукт.
      </div>
    </div>
  </div>
</div>
<!-- второе окно -->
<div id="openModal-2" class="modal__ice-coffee">
  <div class="modal__container">
    <div class="ice-coffee__content">
      <div class="modal-header">
        <h3 class="modal-header__title">ice coffee</h3>
        <a href="#close" title="Close" class="modal-header__close">×</a>
      </div>
      <div class="modal__text">
        Любители кофе не могут себе представить и дня без этого чудесного напитка, который может не только согревать, но
        и
        освежать. Ведь согласитесь, если на улице жара, то хочется пить что-то прохладное и тонизирующее. Холодный кофе
        – это
        идеальное решение проблемы. Вы пьете свой любимый напиток, и при этом он прекрасно утоляет жажду.
      </div>
    </div>
  </div>
</div>
<!-- третье окно -->
<div id="openModal-3" class="modal__milkshakes">
  <div class="modal__container">
    <div class="milkshakes__content">
      <div class="modal-header">
        <h3 class="modal-header__title">milkshakes</h3>
        <a href="#close" title="Close" class="modal-header__close">×</a>
      </div>
      <div class="modal__text">
        Десертный напиток на основе молока и мороженого, один из символов американской кухни. Для придания коктейлю
        разнообразных вкусов в него добавляют разнообразные сиропы, фрукты, ягоды, тёртое печенье Oreo, и так далее. Для
        украшения молочных коктейлей используют взбитые сливки, коктейльную вишню, тёртый шоколад.
      </div>
    </div>
  </div>
</div>
</section>


