<section class="reviews">
    <div class="container">

        <picture>
            <source srcset="/src/images/reviews/reviews.png 1x, /src/images/reviews/reviews@2x.png 2x" />
            <img class="reviews__img" src="/src/images/reviews/reviews.png">
        </picture>
        <article class="reviews__box">
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </article>
        <div class="reviews__blcok">
            <p class="reviews__contact">Emily, Los Angeles</p>
        </div>
    </div>
</section>