.relative {
    position: relative;
    bottom: 84px;
}


.contact {
    display: block;
    background-color:  $section-bg-color;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px){
        display: flex;
       
    }
    @media screen and (min-width: 1280px){
        background-image: url();
    }
    &__none {
        display: none;
        
    }
    &__link {
     width: 220px;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 0px 8px 8px 8px rgba(212, 20, 67, 0.1);
     background-color:  $white-color;
     border-radius: 24px;

@media screen and (min-width: 768px){
    position: relative;
    bottom: 78px; 
    height: 544px;
}
@media screen and (min-width: 1280px){
    position: relative;
    bottom: 102px;
    width: 330px;
    height: 572px;
   
}
}
&__link:not(:last-child) {
     margin-bottom: 20px;
 }
&__text {
font-family: DM Sans;
font-weight: 500;
color: $text-color;
margin-top: 10px;
 }
&__team {
color: $black-color;
font-family: DM Sans;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
 }
&__item {
color: $list-color;
font-family: DM Sans;
font-weight: 500;
line-height: 22px;
 }
&__list {
width: 80px;
height: 16px;
background-color: $sun-color;
color: $white-color;
text-align: center;
border-radius: 4px;
letter-spacing: 0.04em;
margin-bottom: 25px;
 }
&__listy {
    width: 130px;
    height: 16px;
    background-color: $green-color;
    color: $white-color;
    text-align: center;
    border-radius: 4px;
letter-spacing: 0.04em;
margin-bottom: 25px;
 }
 &__title {
     padding-top: 43px;
     padding-bottom: 43px;
     padding-left: 20px;
     padding-right: 20px;
     @media screen and (min-width: 1280px){
        padding-top: 51px;
        padding-bottom: 51px;
        padding-left: 43px;
     padding-right: 43px;
     height: 572px;
     }
 }
}
.week {
    border-top: 1px solid $line-color;
    border-bottom:  1px solid $line-color;
    
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (min-width: 768px){
       padding-top: 30px;
       padding-bottom: 30px;
       margin-top: 30px;
       margin-bottom: 30px;
    }
    @media screen and (min-width: 1280px){
       padding-top: 32px;
       padding-bottom: 32px;
       margin-top: 32px;
       margin-bottom: 32px;
    }

 &__team {
    color: $black-color;
    font-family: DM Sans;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
text-align: left;
 }
 &__item {
    color: $list-color;
     font-family: DM Sans;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left; 
 }
 
 &__item:not(:last-child) {
     margin-bottom: 10px;
 }
}