.relative {
    position: relative;
    bottom: 84px;
   
}
ul {
    padding-left: 0;
}
.contacts {
    background-color:  $section-bg-color;
    
    
}

.contact {
    display: block;
    
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px){
        display: flex;
       
    }
   
   &__icon {
    @media screen and (min-width: 1280px) {
        background-image: url(../images/contacts/contacts.png);
        background-repeat: no-repeat;
    }
   }
    &__none {
        display: none;
        
    }
    &__link {
     width: 220px;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 0px 8px 8px 8px rgba(212, 20, 67, 0.1);
     background-color:  $white-color;
     border-radius: 24px;
     padding-top: 43px;
     padding-bottom: 43px;
     padding-left: 20px;
     padding-right: 20px;
     @media screen and (min-width: 1280px){
        padding-top: 51px;
        padding-bottom: 51px;
        padding-left: 43px;
     padding-right: 43px;
     height: 572px;
     font-size: 18px;
     }
     @media screen and (max-width: 767px) {
         margin-bottom: 20px;
     }
     &:last-child {
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
     }
    
@media screen and (min-width: 768px){
    position: relative;
    bottom: 78px; 
    
}
@media screen and (min-width: 1280px){
    position: relative;
    bottom: 102px;
    width: 330px;
    height: 572px;
   
}
    }

&__text {
font-family: DM Sans;
font-weight: 500;
color: $text-color;
margin-top: 10px;
@media screen and (min-width: 1280px) {
    font-size: 20px;
}
 }
&__team {
color: $black-color;
font-family: DM Sans;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
@media screen and (min-width: 1280px) {
    margin-bottom: 15px;
}
 }
&__item {
color: $list-color;
font-family: DM Sans;
font-weight: 500;
line-height: 22px;
 }
&__list {
width: 80px;
height: 16px;
background-color: $sun-color;
color: $white-color;
text-align: center;
border-radius: 4px;
letter-spacing: 0.04em;
margin-bottom: 25px;
 }
&__listy {
    width: 130px;
    height: 16px;
    background-color: $green-color;
    color: $white-color;
    text-align: center;
    border-radius: 4px;
letter-spacing: 0.04em;
margin-bottom: 25px;
 }
 
    
 
 &-button {
    
   &__icon {
       margin-left: 10px;
       stroke: $white-color;
       fill: transparent;
       
   }
   &__btn {
    margin-left: 10px;
    stroke: $red-color;
       fill: transparent;
   }
   }
&-button__link{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   @media screen and (min-width: 768px){
      flex-direction: row;
       justify-content: center;
   }
}
&-button__list {
    &:first-child {
        margin-bottom: 10px;
    }
   @media screen and (min-width: 768px) {
       margin: 10px;
   }
}
    &-button__disable {  
    width: 161px;
    height: 44px;
    background-color: $btn-color;
    color: $white-color;
    border-radius: 22px;
    
    border: none;
    cursor: pointer;
}
&-button__active {
   width: 161px;
   height: 44px;
   background-color: $white-color;
   color: $btn-color;
   border-radius: 22px;
   border: none;
   cursor: pointer;
}
}
.week {
    border-top: 1px solid $line-color;
    border-bottom:  1px solid $line-color;
    
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (min-width: 768px){
       padding-top: 30px;
       padding-bottom: 30px;
       margin-top: 30px;
       margin-bottom: 30px;
    }
    @media screen and (min-width: 1280px){
       padding-top: 32px;
       padding-bottom: 32px;
       margin-top: 32px;
       margin-bottom: 32px;
    }

 &__team {
    color: $black-color;
    font-family: DM Sans;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
text-align: left;
 }
 &__item {
    color: $list-color;
     font-family: DM Sans;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left; 
 }
 
 &__item:not(:last-child) {
     margin-bottom: 10px;
     @media screen and (min-width: 1280px) {
         margin-bottom: 16px;
     }
 }
}