li {
  list-style: none;
}
ul {
  margin: 0;
}
.footer-section {
  background-color: $section-bg-color;
}
.footer {
  background-color: $section-bg-color;

  &-link {
    padding-top: 100px;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
}
.site-footer {
  @media screen and (min-width: 1280px) {
    width: 474px;
  }

  &__link {
    padding: 0;
  }
  &__item {
    font-family: Titan One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: $list-color;
    width: 232px;
    &::before {
      background-image: url(../images/icons/quotes.svg);
    }
    @media screen and (min-width: 1280px) {
      width: 100%;

      font-family: Titan One;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.04em;
    }
  }
  &__team {
    font-family: Titan One;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;

    text-align: left;
    color: $red-color;
    width: 200px;
    @media screen and (min-width: 1280px) {
      width: 100%;
      font-family: Titan One;
      font-size: 58px;
      font-style: normal;
      font-weight: 400;
      line-height: 66px;
      margin-top: 15px;
    }
  }
}
.social-footer {
  &__title {
    font-weight: 700;
    text-align: right;
    &:first-child {
      margin-bottom: 46px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 46px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 30px;
    }
  }
  &__item {
    padding: 0;
    margin-top: 46px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
  &__tell {
    color: $red-color;
    cursor: pointer;
  }
  &__team {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
  &__list {
    fill: $social-color;

    transition-property: fill;
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: $red-color;
    }
  }
}

.footer-made {
  border-top: 1px solid #e1e1e1;
  margin-top: 43px;
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
  display: block;
  &__text {
    color: $text-color;
    font-weight: 700;
  }
}
