.hero {
  position: relative;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: $pink-color;
  background-image: url(../images/hero/heroicecream.png), url(../images/hero/hero-circle.png);
  background-repeat: no-repeat;
  background-size: 171px, 284px;
  background-position: bottom 0 right 32px, bottom 75px right 0;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/heroicecream@2x.png),
      url(../images/hero/hero-circle@2x.png);
  }
  @media screen and (min-width: 768px) {
    height: 400px;
    background-image: url(../images/hero/heroicecream-tablet.png), url(../images/hero/girl.png),
      url(../images/hero/hero-circle-tablet.png), url(../images/hero/heromilk.png);
    background-size: 143px, 168px, 324px, 124px;
    background-position: bottom 0 right 247px, bottom 0 right 34px, bottom 46px right 137px,
      bottom 28px left 34px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/heroicecream-tablet@2x.png),
        url(../images/hero/girl@2x.png), url(../images/hero/hero-circle-tablet@2x.png),
        url(../images/hero/heromilk@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
    background-image: url(../images/hero/heroicecream-desc.png), url(../images/hero/girl-desc.png),
      url(../images/hero/hero-circle-desc.png), url(../images/hero/heromilk-desc.png);
    background-size: 236px, 293px, 538px, 188px;
    background-position: bottom 0 right 450px, bottom 0 right 109px, bottom 75px right 267px,
      bottom 45px left 77px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/heroicecream-desc@2x.png),
        url(../images/hero/girl-desc@2x.png), url(../images/hero/hero-circle-desc@2x.png),
        url(../images/hero/heromilk-desc@2x.png);
    }
  }
  &__container {
    height: 665px;
    padding-top: 195px;
    padding-bottom: 200px;
    text-align: left;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
      padding-top: 100px;

      padding-bottom: 35px;
    }
    @media screen and (min-width: 1280px) {
      height: 665px;
      padding-top: 170px;
      padding-right: 95px;
      padding-bottom: 55px;
    }
  }
  &__title {
    max-width: 218px;
    margin-bottom: 20px;
    font-family: $accent-font;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-color;
    @media screen and (min-width: 768px) {
      max-width: 162px;
      font-size: 22px;
      line-height: 1.136;
    }
    @media screen and (min-width: 1280px) {
      max-width: 277px;
      margin-bottom: 25px;
      font-size: 38px;
      line-height: 1.16;
    }
  }

  &__title--accent {
    font-size: 48px;
    line-height: 0.96;
    letter-spacing: normal;
    color: $red-color;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.91;
    }
  }
  &__content {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: relative;
    left: 120px;
    display: flex;
    max-width: 114px;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      left: 180px;
      max-width: 200px;
    }
  }

  &__text {
    color: $white-color;
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.429;
      margin-bottom: 20px;
    }
  }
}

.hero-box {
  display: flex;
  justify-content: space-between;
}

.hero-buttons {
  &__list {
    @extend %list;
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
      @media screen and (min-width: 1280px) {
        margin-right: 15px;
      }
    }
  }
}

.btn-hero {
  @extend %link;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $white-color;
  background: $red-color;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.286;
    padding: 13px 20px;
  }
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $ellipse-color;
  }
  &--light {
    color: $red-color;
    background-color: $white-color;
    &:hover,
    &:focus {
      background-color: $btn-hover-color;
    }
  }
}

.numbers {
  &__list {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @extend %list;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__item {
    position: relative;
    &::before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      right: 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: $white-color;
      @media screen and (min-width: 1280px) {
        height: 30px;
        width: 30px;
      }
    }
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;
  }

  &__text {
    font-family: $main-font;
    font-size: 8px;
    line-height: 1.25;
    color: $white-color;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.286;
    }
    &--number {
      width: 100%;
      font-family: $accent-font;
      font-size: 28px;
      line-height: 1.143;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $red-color;
      @media screen and (min-width: 1280px) {
        font-size: 46px;
        line-height: 1.152;
      }
    }
  }
}

.read-more-btn {
  @include centeredFlex;
  width: 18px;
  height: 18px;
  background-color: $white-color;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    @media screen and (min-width: 1280px) {
      width: 26px;
      height: 26px;
    }
  }
}
