.reviews {
  @extend %section;
  @media screen and(max-width:767px) {
    padding-bottom: 120px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 180px;
  }
}
.reviews__img {
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:320px) and(max-width:767px) {
    margin-bottom: 29px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    margin-bottom: 19px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 15px;
  }
}
.reviews__box {
  position: relative;
  background-color: $reviews-bg-color;
  @media screen and(min-width:320px) and(max-width:767px) {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 43px 66px 28px 57px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    height: 100%;
    margin-bottom: 24px;
  }
  @media screen and(min-width:1280px) {
    width: 926px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
  }
}
.reviews__text {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: $black-color;
  text-align: center;
  background-image: repeating-linear-gradient(
    to top,
    $line-color,
    $line-color 1px,
    transparent 1px,
    transparent 31px
  );
  @media screen and(min-width:320px) and(max-width:767px) {
    font-size: 12px;
    line-height: 2.58;
    letter-spacing: 0.03em;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    width: 460px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    margin-top: 47px;
    margin-bottom: 34px;
    margin-left: 80px;
    margin-right: 80px;
  }
  @media screen and(min-width:1280px) {
    width: 750px;
    margin-top: 47px;
    margin-bottom: 39px;
    margin-left: 87px;
    margin-right: 89px;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}
.reviews__text::before {
  content: url('../images/icons/quotes.svg');
  position: absolute;
  fill: rgba(225, 225, 225, 0.3);
  @media screen and(min-width:320px) and(max-width:767px) {
    top: 25px;
    left: 61px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    top: 30px;
    left: 40px;
  }
  @media screen and(min-width:1280px) {
    top: 32px;
    left: 40px;
  }
}
.reviews__contact {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: $black-color;
  text-align: center;
  line-height: 1.86;
  @media screen and(min-width:320px) and(max-width:767px) {
    font-size: 12px;
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
  @media screen and(min-width:1280px) {
    font-size: 20px;
    margin-bottom: 35px;
  }
}
.reviews__contact::before {
  content: url('../images/icons/dod-rev.svg');
  @media screen and(min-width:320px) and(max-width:767px) {
    padding-bottom: 18px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    padding-bottom: 14px;
  }
  @media screen and(min-width:1280px) {
    padding-bottom: 15px;
  }
}
.reviews__link {
  display: flex;
  width: 72px;
  margin: 0 auto;
  padding: 0;
  & li:not(:last-child) {
    margin-right: 18px;
  }
}
.reviews__icon {
  display: flex;
  height: 12px;
  width: 12px;
  justify-content: center;
  align-items: center;
}
.reviews__icon:nth-child(1) {
  background-image: url('../images/icons/icon-home.svg');
}
.reviews__icon:nth-child(2) {
  background-image: url('../images/icons/Ellipse.svg');
}
.reviews__icon:nth-child(3) {
  background-image: url('../images/icons/Ellipse.svg');
}
/* @media screen and(min-width:320px) and(max-width:767px) {
    margin-top: 80px;
    margin-bottom: 289px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    margin-top: 121px;
    margin-bottom: 197px;
  }
  @media screen and(min-width:1280px) {
    margin-top: 123px;
    margin-bottom: 234px;
  }
  */
